snippet math "mathmode" b
\[
	${0}
\]
endsnippet

snippet align "align env" b
\begin{align*}
	${0}
\end{align*}
endsnippet

snippet begin "begin environment" b
\begin{${1}}
	${0}
\end{${1}}
endsnippet

snippet fz "math Z"
\mathbb{Z}
endsnippet

